<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Filmsitesi</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>

    <div class="top">
      <div class="main-header">
        <div class="left-header">
          <img src="static/logo.png" class="logo" alt="Pascia Logo">
          <div class="nav-bar">
            <a class="nav nav-sel" href="#">Ana Sayfa</a>
            <a class="nav" href="#">Diziler</a>
            <a class="nav" href="#">Filmler</a>
          </div>
        </div>
      </div>
        {{ ip }}
    </div>

  </body>
</html>
