<!DOCTYPE html>
<html lang="tr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Filmsitesi</title>
    <link rel="stylesheet" href="/static/main.css">
    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
  </head>
  <body>

    <script>
    $(window).on("scroll", function() {
      if ($(window).scrollTop() > 10) {
        $(".main-header").addClass("scrolled");
        $(".main-header").removeClass("no-scroll");
      } else {
        $(".main-header").addClass("no-scroll");
        $(".main-header").removeClass("scrolled");
      }
    });
    </script>

    <div class="main-header no-scroll">
      <div class="left-header">
        <img src="static/logo.png" class="logo" alt="Pascia Logo">
        <div class="nav-bar">
          <a class="nav nav-sel" href="#">Ana Sayfa</a>
          <a class="nav" href="#">Diziler</a>
          <a class="nav" href="#">Filmler</a>
        </div>
      </div>
    </div>
    <div class="top">
        {{ ip }}

    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>a
  </body>
</html>
